.Header {
    text-align: center;
    background-color: black;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

nav {

}

footer {
    text-align: center;
    /* position: fixed; */
    bottom: 0;
    width: 100vw;
}

.Main {
    background-color: gray;
    height: 100vh;
    width: 100vw;
}

.Home {
    background-color: darkgray;
}

.CardGroup {
    background-color: dimgray;
    display: flex;
    padding: 2.5%;
    /* flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; */
}

.Card {
    background-color: grey;
    width: 30vw;
    margin: 2.5%;
}
