.Header {
    text-align: center;
    background-color: black;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

h1 {
    margin: 0%;
    font-family: fantasy;
}

h3 {
    font-style: oblique;
    font-family: fantasy;
    color: goldenrod;
}

nav {
    color: gold;
}

.About {
    background-color: gold;
    color: black;
    padding: 1em;
    margin: 1em;
}

.Services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding-left: 2em;
    margin: 1em;
    font-weight: 800;
}

.Info {
    padding-left: 1em;
    padding-right: 1em;
}

.Main {
    background-color: black;
    height: 100vh;
    width: 100vw;
    padding-top: 2vh;
}

.Home {
    background-color: black;
    color: white;
}

.CardGroup {
    background-color: black;
}

.Card {
    color: white;
    padding-bottom: 1em;
    border-bottom: solid grey 1em;
}

.Contact {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 800;
}